
.about .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 115px;
}

.about .bd {
    position: relative;
    width: 1240px;
    height: 800px;
    bottom: 50px;
}

.about .bd .left{
    float: left;
    margin-top:80px;
    width: 410px;
    height: 620px;
}

.about .bd .right{
    float: left;
    margin-top:80px;
    width: 830px;
    height: 620px;
}
.about .bd .right li{
    position: relative;
    float: left;
    margin-left: 5px;
    width: 410px;
    height: 620px;
    text-align: center;
}

.about span{
    font-weight: 700;
    font-size: 20px;
}